*{
    font-family: "Open Sans", sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 1500px;
    margin: auto;
    padding: 12px;
    color: #f5f5f5;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 40px;
}
ul li a{
    text-decoration: none;
    color: #575757;
}
.button{
    background-color: #1D4ED8;
    height: 50px;
    width: 190px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}